.nav-link {
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
  margin-right: 5vw;
  padding: 0px;
}

.nav-link:hover {
  border-bottom: 2px solid green;
  padding: 15px;
  transition: all 0.4s ease;
}

nav {
  box-shadow: 2px -2px 0px 5px rgba(0, 0, 0, 0.55);
}

#head1 {
  font-size: 65px;
  margin-top: 5em;

  text-shadow: -2px 5px 5px #000000;
}

.home {
  background-image: url("./imagenes/nick-karvounis-Ciqxn7FE4vE-unsplash.jpg");
  color: white;
  background-attachment: fixed;
  background-size: cover;
}

#header {
  margin-top: 20em;
}

.line {
  width: 100%;
  height: 5px;
  background-color: lightgreen;
}

.menu {
  background-color: rgba(230, 230, 230, 0.947);
}

.img-menu {
  height: 400px;
}

.card-title {
  font-size: 2rem;
}
.card-text {
  font-size: 1rem;
}

.card:hover {
  transition: all 0.5s;
  box-shadow: 3px 3px 0px 3px rgba(215, 215, 215, 0.55);
}

.img-slide-show {
  max-width: 100%;
}

.carousel-caption {
  text-shadow: 0px 3px 5px #000000;
}

.contact-form-response {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
}

.none {
  display: none;
}

.contact-form-loader {
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.contact-form-loader img {
  margin-top: 3vh;
}

form {
  margin: 0 0 2rem 0;
  display: flex;
  justify-content: center;
}

form > .fields {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: calc(100% / 3);
  margin: -1.5rem 0 2rem -1.5rem;
}

form > .fields > .field {
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  padding: 1.5rem 0 0 1.5rem;
  width: calc(100% - 1.5rem);
}

form > .fields .btn {
  width: calc(30%);
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  form > .fields {
    width: calc(100% + 3rem);
    margin: -1.5rem 0 2rem -1.5rem;
  }

  form > .fields > .field {
    padding: 1.5rem 0 0 1.5rem;
    width: calc(100% - 1.5rem);
  }
}

label {
  display: block;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0.075em;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin: 0 0 0.75rem 0;
}

@media screen and (max-width: 980px) {
  label {
    font-size: 0.9rem;
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: transparent;
  border-radius: 0;
  border: solid 2px;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1rem;
  text-decoration: none;
  width: 100%;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  padding: 0.75rem 1rem;
}

label {
  color: #212931;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
  border-color: #eeeeee;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
  border-color: #18bfef;
}
